# Simulation Resolution
time_step = {{ time_step }}
solution_polynomial_order = {{ polynomial_order }}

# Particles
{% for particle in particles %}
particle{{ loop.index }}_name = {{ particle.name }}
particle{{ loop.index }}_mass = {{ particle.mass }}
particle{{ loop.index }}_charge = {{ particle.charge }}
{% endfor %}

# Output
print_frequency = 100
export_currents = {{ export_currents }}
{% if export_currents %}
currents_units = 'mA'
{% endif %}
